$mediumpurple: (
	50: #F2EEFB,
	100: #DFD4F4,
	200: #C9B8ED,
	300: #B39BE6,
	400: #A385E0,
	500: #9370DB,
	600: #8B68D7,
	700: #805DD2,
	800: #7653CD,
	900: #6441C4,
	A100: #FFFFFF,
	A200: #FFFFFF,
	A400: #F1EFFF,
	A700: #DAD5FF,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
