$limegreen: (
	50: #E6F9E6,
	100: #C2F0C2,
	200: #99E699,
	300: #70DC70,
	400: #51D551,
	500: #32CD32,
	600: #2DC82D,
	700: #26C126,
	800: #1FBA1F,
	900: #13AE13,
	A100: #FBFFFA,
	A200: #D0FFC7,
	A400: #A6FF94,
	A700: #90FF7B,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
