$dimgray: (
	50: #EDEDED,
	100: #D2D2D2,
	200: #B4B4B4,
	300: #969696,
	400: #808080,
	500: #696969,
	600: #616161,
	700: #565656,
	800: #4C4C4C,
	900: #3B3B3B,
	A100: #F8BCBC,
	A200: #F38F8F,
	A400: #FF4F4F,
	A700: #FF3636,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $light-primary-text
	)
) !default;
