$seashell: (
	50: #FFFEFD,
	100: #FFFCFA,
	200: #FFFAF7,
	300: #FFF8F3,
	400: #FFF7F1,
	500: #FFF5EE,
	600: #FFF4EC,
	700: #FFF2E9,
	800: #FFF0E7,
	900: #FFEEE2,
	A100: #FFFFFF,
	A200: #FFFFFF,
	A400: #FFFFFF,
	A700: #FFFFFF,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
