$lavender: (
		50: #FCFCFE,
		100: #F8F8FE,
		200: #F3F3FD,
		300: #EEEEFC,
		400: #EAEAFB,
		500: #E6E6FA,
		600: #E3E3F9,
		700: #DFDFF9,
		800: #DBDBF8,
		900: #D5D5F6,
		A100: #FFFFFF,
		A200: #FFFFFF,
		A400: #FFFFFF,
		A700: #FFFFFF,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $dark-primary-text,
			400: $dark-primary-text,
			500: $dark-primary-text,
			600: $dark-primary-text,
			700: $dark-primary-text,
			800: $dark-primary-text,
			900: $dark-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
