$pink: (
	50: #FFF7F9,
	100: #FFECEF,
	200: #FFE0E5,
	300: #FFD3DB,
	400: #FFC9D3,
	500: #FFC0CB,
	600: #FFBAC6,
	700: #FFB2BE,
	800: #FFAAB8,
	900: #FF9CAC,
	A100: #FFFFFF,
	A200: #FFFFFF,
	A400: #FFFFFF,
	A700: #FFFFFF,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
