$mediumblue: (
	50: #E0E0F9,
	100: #B3B3F0,
	200: #8080E6,
	300: #4D4DDC,
	400: #2626D5,
	500: #0000CD,
	600: #0000C8,
	700: #0000C1,
	800: #0000BA,
	900: #0000AE,
	A100: #E7ECFF,
	A200: #B4C3FF,
	A400: #819AFF,
	A700: #6886FF,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
