$navy: (
		50: #E0E0F0,
		100: #B3B3D9,
		200: #8080C0,
		300: #4D4DA6,
		400: #262693,
		500: #000080,
		600: #000078,
		700: #00006D,
		800: #000063,
		900: #000050,
		A100: #8CAFFF,
		A200: #598BFF,
		A400: #2667FF,
		A700: #0D56FF,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $light-primary-text,
			400: $light-primary-text,
			500: $light-primary-text,
			600: $light-primary-text,
			700: $light-primary-text,
			800: $light-primary-text,
			900: $light-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $light-primary-text,
			A700: $light-primary-text
		)
	) !default;
