$darkkhaki: (
	50: #F7F6ED,
	100: #EBE9D3,
	200: #DEDBB5,
	300: #D1CD97,
	400: #C7C281,
	500: #BDB76B,
	600: #B7B063,
	700: #AEA758,
	800: #A69F4E,
	900: #98903C,
	A100: #FFFFFF,
	A200: #FFFAE9,
	A400: #FFEEB6,
	A700: #FFE89D,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
