$greenyellow: (
	50: #F5FFE6,
	100: #E6FFC1,
	200: #D6FF97,
	300: #C6FF6D,
	400: #B9FF4E,
	500: #ADFF2F,
	600: #A6FF2A,
	700: #9CFF23,
	800: #93FF1D,
	900: #83FF12,
	A100: #FFFFFF,
	A200: #FFFFFF,
	A400: #EFFFD7,
	A700: #E4FFBE,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
