$deepskyblue: (
		50: #E0F7FF,
		100: #B3ECFF,
		200: #80DFFF,
		300: #4DD2FF,
		400: #26C9FF,
		500: #00BFFF,
		600: #00B9FF,
		700: #00B1FF,
		800: #00A9FF,
		900: #009BFF,
		A100: #FFFFFF,
		A200: #FCFEFF,
		A400: #C9F0FF,
		A700: #AFE9FF,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $dark-primary-text,
			400: $dark-primary-text,
			500: $dark-primary-text,
			600: $dark-primary-text,
			700: $dark-primary-text,
			800: $dark-primary-text,
			900: $light-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
