$indigo: (
	50: #E9E0F0,
	100: #C9B3DA,
	200: #A580C1,
	300: #814DA8,
	400: #662695,
	500: #4B0082,
	600: #44007A,
	700: #3B006F,
	800: #330065,
	900: #230052,
	A100: #ABAAFF,
	A200: #7977FF,
	A400: #4644FF,
	A700: #2D2BFF,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text
	)
) !default;
