$blue: (
	50: #E0E0FF,
	100: #B3B3FF,
	200: #8080FF,
	300: #4D4DFF,
	400: #2626FF,
	500: #0000FF,
	600: #0000FF,
	700: #0000FF,
	800: #0000FF,
	900: #0000FF,
	A100: #FFFFFF,
	A200: #FFFFFF,
	A400: #D2DAFF,
	A700: #B9C4FF,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
