$lemonchiffon: (
	50: #FFFEF9,
	100: #FFFEF0,
	200: #FFFDE6,
	300: #FFFCDC,
	400: #FFFBD5,
	500: #FFFACD,
	600: #FFF9C8,
	700: #FFF9C1,
	800: #FFF8BA,
	900: #FFF6AE,
	A100: #FFFFFF,
	A200: #FFFFFF,
	A400: #FFFFFF,
	A700: #FFFFFF,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
