$cadetblue: (
		50: #ECF3F4,
		100: #CFE2E3,
		200: #AFCFD0,
		300: #8FBBBD,
		400: #77ADAE,
		500: #5F9EA0,
		600: #579698,
		700: #4D8C8E,
		800: #438284,
		900: #327073,
		A100: #E8FFFC,
		A200: #B5FFF6,
		A400: #82FFEF,
		A700: #68FFEC,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $dark-primary-text,
			400: $dark-primary-text,
			500: $dark-primary-text,
			600: $dark-primary-text,
			700: $light-primary-text,
			800: $light-primary-text,
			900: $light-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
