$darkgreen: (
		50: #E0ECE0,
		100: #B3D1B3,
		200: #80B280,
		300: #4D934D,
		400: #267B26,
		500: #006400,
		600: #005C00,
		700: #005200,
		800: #004800,
		900: #003600,
		A100: #A8FF75,
		A200: #88FF42,
		A400: #68FF0F,
		A700: #5AF500,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $light-primary-text,
			400: $light-primary-text,
			500: $light-primary-text,
			600: $light-primary-text,
			700: $light-primary-text,
			800: $light-primary-text,
			900: $light-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
