$darkviolet: (
	50: #F2E0FA,
	100: #DFB3F2,
	200: #CA80E9,
	300: #B44DE0,
	400: #A426DA,
	500: #9400D3,
	600: #8C00CE,
	700: #8100C8,
	800: #7700C2,
	900: #6500B7,
	A100: #FFFFFF,
	A200: #EEE6FF,
	A400: #CAB3FF,
	A700: #B99AFF,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
