$darkgoldenrod: (
		50: #F6F0E2,
		100: #EADBB6,
		200: #DCC385,
		300: #CDAA54,
		400: #C39830,
		500: #B8860B,
		600: #B17E0A,
		700: #A87308,
		800: #A06906,
		900: #915603,
		A100: #FFF4EE,
		A200: #FFD2BB,
		A400: #FFB088,
		A700: #FF9F6F,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $dark-primary-text,
			400: $dark-primary-text,
			500: $dark-primary-text,
			600: $dark-primary-text,
			700: $light-primary-text,
			800: $light-primary-text,
			900: $light-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
