$rosybrown: (
		50: #F7F2F2,
		100: #EBDDDD,
		200: #DEC7C7,
		300: #D0B1B1,
		400: #C6A0A0,
		500: #BC8F8F,
		600: #B68787,
		700: #AD7C7C,
		800: #A57272,
		900: #976060,
		A100: #FFFFFF,
		A200: #FFFFFF,
		A400: #FFCED4,
		A700: #FFB4BE,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $dark-primary-text,
			400: $dark-primary-text,
			500: $dark-primary-text,
			600: $dark-primary-text,
			700: $dark-primary-text,
			800: $dark-primary-text,
			900: $light-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
