$chocolate: (
	50: #FAEDE4,
	100: #F2D2BC,
	200: #E9B48F,
	300: #E09662,
	400: #D98040,
	500: #D2691E,
	600: #CD611A,
	700: #C75616,
	800: #C14C12,
	900: #B63B0A,
	A100: #FFFFFF,
	A200: #FFECEB,
	A400: #FFBBB8,
	A700: #FFA39E,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
