$thistle: (
	50: #FAF7FA,
	100: #F3ECF3,
	200: #ECDFEC,
	300: #E4D2E4,
	400: #DEC9DE,
	500: #D8BFD8,
	600: #D4B9D4,
	700: #CEB1CE,
	800: #C8A9C8,
	900: #BF9BBF,
	A100: #FFFFFF,
	A200: #FFFFFF,
	A400: #FFFFFF,
	A700: #FFFFFF,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
