$mediumturquoise: (
	50: #E9F9F9,
	100: #C8F1F0,
	200: #A4E8E6,
	300: #7FDFDB,
	400: #63D8D4,
	500: #48D1CC,
	600: #41CCC7,
	700: #38C6C0,
	800: #30C0B9,
	900: #21B5AD,
	A100: #FFFFFF,
	A200: #F1FFFC,
	A400: #BEFFF2,
	A700: #A4FFED,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
