$lavenderblush: (
	50: #FFFDFE,
	100: #FFFBFC,
	200: #FFF8FA,
	300: #FFF5F8,
	400: #FFF2F7,
	500: #FFF0F5,
	600: #FFEEF4,
	700: #FFECF2,
	800: #FFE9F0,
	900: #FFE5EE,
	A100: #FFFFFF,
	A200: #FFFFFF,
	A400: #FFFFFF,
	A700: #FFFFFF,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
