$olive: (
	50: #F0F0E0,
	100: #D9D9B3,
	200: #C0C080,
	300: #A6A64D,
	400: #939326,
	500: #808000,
	600: #787800,
	700: #6D6D00,
	800: #636300,
	900: #505000,
	A100: #FFE2A0,
	A200: #FFD36D,
	A400: #FFC43A,
	A700: #FFBC20,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
