$sienna: (
	50: #F4EAE6,
	100: #E3CBC0,
	200: #D0A996,
	300: #BD866C,
	400: #AE6C4D,
	500: #A0522D,
	600: #984B28,
	700: #8E4122,
	800: #84381C,
	900: #732811,
	A100: #FFD3D4,
	A200: #FFA0A2,
	A400: #FF6D6F,
	A700: #FF5456,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
