$yellow: (
		50: #FFFFE0,
		100: #FFFFB3,
		200: #FFFF80,
		300: #FFFF4D,
		400: #FFFF26,
		500: #FFFF00,
		600: #FFFF00,
		700: #FFFF00,
		800: #FFFF00,
		900: #FFFF00,
		A100: #FFFFFF,
		A200: #FFFFFF,
		A400: #FFFEF9,
		A700: #FFFADF,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $dark-primary-text,
			400: $dark-primary-text,
			500: $dark-primary-text,
			600: $dark-primary-text,
			700: $dark-primary-text,
			800: $dark-primary-text,
			900: $dark-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
