$orange: (
		50: #FFF4E0,
		100: #FFE4B3,
		200: #FFD280,
		300: #FFC04D,
		400: #FFB326,
		500: #FFA500,
		600: #FF9D00,
		700: #FF9300,
		800: #FF8A00,
		900: #FF7900,
		A100: #FFFFFF,
		A200: #FFFFFF,
		A400: #FFFFFF,
		A700: #FFF1ED,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $dark-primary-text,
			400: $dark-primary-text,
			500: $dark-primary-text,
			600: $dark-primary-text,
			700: $dark-primary-text,
			800: $dark-primary-text,
			900: $dark-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
