$darkslategrey: (
	50: #E6EAEA,
	100: #C1CACA,
	200: #97A7A7,
	300: #6D8484,
	400: #4E6969,
	500: #2F4F4F,
	600: #2A4848,
	700: #233F3F,
	800: #1D3636,
	900: #122626,
	A100: #7DFFD8,
	A200: #4AFFC9,
	A400: #17FFB9,
	A700: #00FCB1,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text
	)
) !default;
