$tan: (
		50: #FAF6F1,
		100: #F2E9DD,
		200: #E9DAC6,
		300: #E0CBAF,
		400: #D9BF9D,
		500: #D2B48C,
		600: #CDAD84,
		700: #C7A479,
		800: #C19C6F,
		900: #B68C5C,
		A100: #FFFFFF,
		A200: #FFFFFF,
		A400: #FFFBF8,
		A700: #FFEBDE,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $dark-primary-text,
			400: $dark-primary-text,
			500: $dark-primary-text,
			600: $dark-primary-text,
			700: $dark-primary-text,
			800: $dark-primary-text,
			900: $dark-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
