$crimson: (
		50: #FBE3E8,
		100: #F5B9C5,
		200: #EE8A9E,
		300: #E75B77,
		400: #E13759,
		500: #DC143C,
		600: #D81236,
		700: #D30E2E,
		800: #CE0B27,
		900: #C5061A,
		A100: #FFFDFD,
		A200: #FFCAD7,
		A400: #FF97B0,
		A700: #FF7D9D,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $dark-primary-text,
			400: $light-primary-text,
			500: $light-primary-text,
			600: $light-primary-text,
			700: $light-primary-text,
			800: $light-primary-text,
			900: $light-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
