$silver: (
		50: #F7F7F7,
		100: #ECECEC,
		200: #E0E0E0,
		300: #D3D3D3,
		400: #C9C9C9,
		500: #C0C0C0,
		600: #BABABA,
		700: #B2B2B2,
		800: #AAAAAA,
		900: #9C9C9C,
		A100: #FFFFFF,
		A200: #FFFFFF,
		A400: #FFFFFF,
		A700: #FFFBFB,
		contrast: (
			50: $dark-primary-text,
			100: $dark-primary-text,
			200: $dark-primary-text,
			300: $dark-primary-text,
			400: $dark-primary-text,
			500: $dark-primary-text,
			600: $dark-primary-text,
			700: $dark-primary-text,
			800: $dark-primary-text,
			900: $dark-primary-text,
			A100: $dark-primary-text,
			A200: $dark-primary-text,
			A400: $dark-primary-text,
			A700: $dark-primary-text
		)
	) !default;
